<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Aluno</title>

    
</head>
<body>

    <form action="#" th:action="@{/aluno/addAluno}" th:object="${aluno}" method="post">
        <p>Nome: <input type="text" th:field="*{nome}" placeholder="Insira seu nome" /></p>
        <p>Curso: 
            <select th:field="*{curso.id}">
                <option th:each="curso: ${cursos}" th:value="${curso.id}" th:text="${curso.descricao}">
            </select>
        </p>

        <p><input type="submit" value="Adicionar" /></p>
    </form>
    
</body>
</html>