<!DOCTYPE html>
<html lang="en"
       xmlns="http://www.w3.org/1999/xhtml"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring MVC App com Data JPA</title>
</head>
<body>
    <h2>Spring MVC Demo com Data JPA  </h2>
    <a href="showForm">Clique aqui para acessar o formulário de saudação</a><br>
    <br>
    <a href="aluno/getListaAlunos">Clique aqui para acessar a lista de Alunos!</a><br>
</body>
</html>